<!DOCTYPE HTML>
<html>
<head>
    <title>Websocket chat</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            document.ws =
                    new WebSocket('ws://' + window.location.host + '/websocket/chat_protocol');
            document.ws.onopen = function () {
                document.ws.send(JSON.stringify({_type: "state", _state: "start"}));
            };
            document.ws.onmessage = function (msg) {
                try {
                    msg = JSON.parse(msg.data)
                    if (msg.type == "message") {
                        $('#log').append('<br>RCV: "' + msg.message + '",' + ' from: ' + msg.user);
                    }
                    else if (msg._type == "state") {
                        $('#log').append('<br>Received state update :' + msg.state);
                    }
                    else {
                        $('#log').append('<br>Received unknown message:"' + msg);
                    }
                } catch (err) {
                    $('#log').append('<br>Received non-js message:"' + msg);
                }
            };
            $('form#chat').submit(function (event) {
                var _user = $('#user').val();
                var _message = $('#message').val();
                if (document.ws.readyState == document.ws.CLOSING ||
                        document.ws.readyState == document.ws.CLOSED) {
                    alert("connection in closed or closing state, refresh page to reconnnect");
                } else if (document.ws.readyState == document.ws.CONNECTING) {
                    alert("connection in connecting state,please try again");
                }
                else {
                    document.ws.send(JSON.stringify({type: "message", user: _user, message: _message}));
                }
                return false;
            });
        });
    </script>
</head>
<body>
<h2>Send:</h2>

<form id="chat" method="POST" action='#'>
    <fieldset>
        <legend>Send message</legend>
        <p><label for="user">User</label><input type="text" name="user" id="user" value="{{user}}"/></p>

        <p><label for="message">Message</label><textarea rows="10" cols="30" name="message" id="message"></textarea></p>
    </fieldset>
    <input type="submit" value="send">
</form>
<h2>Receive:</h2>

<div id="log"></div>
</body>
</html>
